<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="A companion AI for Full Stack Conference 2016">
    <meta name="author" content="Full Stack Fest 2016">
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/assets/favicon.png") %>" />
    <meta property="og:image" content="<%= static_path(@conn, "/assets/picture.jpg") %>" />
    <title>Full Stack Bot</title>
  </head>

  <body>
    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/assets/index.js") %>"></script>
  </body>
</html>
